<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home 自己紹介</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="home.css">
</head>
<body>
  <header>
    <div class="header-container">
        <div class="header-left">
          <a href="home">
            <i class="fa-solid fa-font-awesome"></i> 
          </a>
        </div>
        <div class="header-right">  <!--以下二文は本番環境に向けてURLを設定しなおすこと-->
          <a href="who" class="header-p1">・どんな人物？</a>
          <a href="contact" class="header-p2">・contact</a> 
        </div>   
    </div>
  </header>
  <div class="main">
    <div class="main-container">
      <div style="width: 300px;" class="main-left">
        <img src="https://dl.dropboxusercontent.com/scl/fi/ssswo3ljwgkg4xkgza5ns/image1.jpeg?rlkey=aswspmeyfzn4qpjjlqnmd8tuk&st=iv9bnib7&dl=0" alt="証明写真" class="picture">
      </div>  
      <div class="main-contents">
          <img src="https://www.sozailab.jp/db_img/sozai/335/d4b217cca788dc075c078cc9e6600cba.jpg" class="back-img">  
            <div class="content">
              <h1>～来歴～</h1>  
              <p>私は1998年7月19日生まれの鈴木俊成です。<br>
               立命館大学を卒業し、工業部品商社へ就職<br>現在はシーシャバーで働いています。
              </p>
            </div>  
        </div>  
      </div>  
    </div>
  </div>
  <div class="lesson-wrapper">
    <div class="lesson-container">
      <div class="heading">
        <h2>～特徴・強み～</h2>
      </div>
      <div class="lessons">
        <div class="lesson">
          <div class="lesson-icon">
            <img src="https://illust-ryokka.jp/wp-content/uploads/2022/04/Figure-14.png">
            <p>協働</p>
          </div>
          <p class="txt-contents">人を巻き込むことが得意です。前職のシーシャバーではハロウィンに向けた限定MIXを作成の際、レシピ考案班と評価班を設け5名以上を巻き込みました。個人よりもチームとして動くことを重視しています。</p>
        </div>
        <div class="lesson">
          <div class="lesson-icon">
            <img src="https://illust-ryokka.jp/wp-content/uploads/2022/04/Figure-15.png">
            <p>聞く力</p>
          </div>
          <p class="txt-contents">ただ欲しいと言われたものだけではなく、相手が真に求めているものを掬い上げることが得意です。営業時代は決まった商品ではなく、違う商品でもっと要望をかなえられるものはないかを常に意識しました。結果1カ月の売り上げを12倍に伸ばした会社もあります。</p>
        </div>
        <div class="lesson">
          <div class="lesson-icon">
            <img src="https://illust-ryokka.jp/wp-content/uploads/2022/04/Figure-13.png">
            <p>チャレンジ精神</p>
          </div>
          <p class="txt-contents">エンジニアという職業の話を聞いてから半年間、仕事をつづけながらプログラミングの自主学習を始めました。未知の分野でも飛び込めるチャレンジ精神と、自主学習をつづける精神力の強さは負けません。</p>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="footer-container">
        <div class="footer-left">鈴木俊成</div>
        <div class="footer-light">cloudy_suzuki@yahoo.co.jp</div>
    </div>
  </footer>
</body>
</html>